
<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="UTF-8">
    <title>Squad list</title>
    <meta name = "viewport"  content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

<h1>
    Manchester United Team Squad
</h1>

<% for (let tea of team ) { %>
<li><%= tea %></li>
<% } %>



</body>


</html>