
<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="UTF-8">

    <meta name = "viewport"  content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <link rel = "stylesheet" href="/app.css">-->
    <link rel = "stylesheet" href="/css/bootstrap.min.css">
    <script src = "/js/jquery.js"></script>

    <script src = "/js/bootstrap.min.js"></script>

</head>

<body>
<h1> Summer Transfer stories </h1>

</body>

<footer>
    <h3> Viewing the customer Comments </h3>

    <p>Donald:
    <li>We need to get a support striker for Ronaldo</li>
</footer>


</html>


