<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Player to Flop List</title>
</head>
<body>
<h1>Add New Player</h1>

<form action="/playerspick" method="POST">
    <section>
    <label for="playername">Player name </label>
        <input type="text" name="playername" id="playername" placeholder="Type player name"></input>
    </section>
        <br>
    <section>
    <label for = "averageratings">Player Rating (1 to 5)</label>
        <br>
<!--    <textarea name = "" id="ratings" cols="30" rows="10"></textarea>-->
    <textarea name = "averageratings" id="averageratings" ></textarea>
</section>
    <section>
        <label for = "fanName">Player Fan Name</label>
        <br>
        <!--    <textarea name = "" id="ratings" cols="30" rows="10"></textarea>-->
        <textarea name = "fanName" id="fanName" ></textarea>
    </section>
    <section>
        <label for = "position">Player Position</label>
        <br>
        <!--    <textarea name = "" id="ratings" cols="30" rows="10"></textarea>-->
        <textarea name = "position" id="position" ></textarea>
    </section>
    <button>Submit</button>
</form>
<a href="/playerspick">Back to list of players</a>
</body>
</html>

